DataAccess/CP.DataUtility/bin/
DataAccess/CP.DataUtility/obj/
DataAccess/CP.Sql/bin/
DataAccess/CP.Sql/obj/
packages/
Services/ChatApp/bin/
Services/ChatApp/obj/
Services/CoupleChatApp/bin/
Services/CoupleChatApp/obj/
Services/CPServices/bin/
Services/CPServices/obj/
Shared/CP.Constants/bin/
Shared/CP.Constants/obj/
Shared/CP.Dto/bin/
Shared/CP.Dto/obj/
Shared/CP.Enum/bin/
Shared/CP.Enum/obj/
Shared/CP.IdeaMart/bin/
Shared/CP.IdeaMart/obj/
Shared/CP.Scheduler/bin/
Shared/CP.Scheduler/obj/
Shared/CP.Utility/bin/
Shared/CP.Utility/obj/
