<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true" internalLogFile="D:\Chalani\IdeaMart\Services\logs\app\ChatApp_nlog.txt" internalLogLevel="Debug">
  <targets>
    <target name="ChatApp"
            xsi:type="File"
            layout="${date:format=yyyy-MM-dd HH.mm.ss}: [${threadid}]: ${message}"
            fileName="D:\Chalani\IdeaMart\Services\logs\ChatApp_log.txt"
            archiveFileName="D:\Chalani\IdeaMart\Services\logs\ChatApp_log_${shortdate}_{#}.txt"
            archiveAboveSize="1048576"
            archiveNumbering="Sequence"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2" />
    <!--<target name="perfSubs"
           xsi:type="File"
           layout="${date:format=yyyy-MM-dd HH.mm.ss}: [${threadid}]: ${message}"
           fileName="D:\Chalani\IdeaMart\Services\logs\chatapp_log_perf.txt"
           archiveFileName="D:\Chalani\IdeaMart\Services\logs\chatapp_log_perf_${shortdate}_{#}.txt"
           archiveAboveSize="1048576"
           archiveNumbering="Sequence"
           maxArchiveFiles="30"
           concurrentWrites="true"
           keepFileOpen="false"
           encoding="iso-8859-2" />-->
  </targets>
  <rules>
    <logger name="cpLog" minlevel="Debug" writeTo="ChatApp" />
    <!--<logger name="perfLog" minlevel="Debug" writeTo="perfSubs" />-->
  </rules>
</nlog>