<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="appId" value="APP_000001" />
    <add key="password" value="password" />
    <add key="baseUrl" value="http://localhost:7000/" />
    <!--<add key="baseUrl" value="https://api.dialog.lk/" />-->
    <add key="chargingAmount" value="3.00" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>